.vs/
bin/
obj/
packages/
publish/

*.user
*.suo
*.userosscache
*.sln.docstates

*.pfx

[Bb]in/
[Oo]bj/

*.cache
*.log
*.tmp

TestResults/
x64/
x86/

*.VisualState.xml
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.pch
*.pdb
*.ipch
*.aps
*.ncb
*.opendb
*.VC.db

_ReSharper*/
*.DotSettings.user